.alert {
  width: 100%;
  position: relative;
  padding: 12px 12px 12px 48px;
  border-radius: $radius;
  text-align: left;
  margin: 12px 0;

  h4 {
    color: $error;
    text-align: left;
  }

  svg {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    left: 12px;
    fill: $error;
  }
  
  li, p {
    font-size: 1rem;
    font-weight: 400;
    color: $text;
    margin: 0;

    &.title {
      font-family: $font-sans-serif;
      color: $error;
      font-weight: 600;
    }
  }

  ul {
    padding: 0 0 0 12px;
    margin: 12px 0 0;
  }

  &.error {
    border: 2px solid $error;
    color: $error;

    h4, p.title {
      color: $error;
    }

    svg {
      fill: $error;
    }
  }

  &.success {
    border: 2px solid $success;
    color: $success;

    h4, p.title {
      color: $success;
    }

    svg {
      fill: $success;
    }
  }
}