$font-fallback: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-serif: SourceSerif,$font-fallback;
$font-sans-serif: $font-fallback;

$bg: var(--bg-color);
$primary: var(--primary-color);
$primary-text: var(--primary-text-color);

$text-heading: var(--text-heading-color);
$text: var(--text-color);
$text-muted: var(--text-muted-color);

$outline: var(--outline-color);
$border: var(--border-color);
$radius: var(--radius);

$error: var(--error-color);
$success: var(--success-color);