<div class="form-control">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" value="{{initialUsername}}" />
</div>

<div class="form-control">
  <label for="pwd">Password</label>
  <input type="password" id="pwd" name="pwd" />
</div>