<footer class="page{{#isEq lh=prefs.site.credit rh="on"}} with-credit{{/isEq}}">
  <span>&copy; {{prefs.site.websiteName}}</span>

  {{#isEq lh=prefs.site.credit rh="on"}}
    <span class="powered-by">Powered by <a href="">ttpress</a></span>
  {{/isEq}}
</footer>