<div class="form-control">
  <label for="alpinaWebsiteUUID"><a href="https://alpina.io" target="_blank" />Alpina Web Analytics</a> profile UUID</label>
  <input type="text" id="alpinaWebsiteUUID" name="alpinaWebsiteUUID" value="{{#if prefill}}{{prefill.alpinaWebsiteUUID}}{{else}}{{prefs.analytics.alpinaWebsiteUUID}}{{/if}}" />
  <span class="form-control-desc">Make sure to add domain name in Alpina profile settings</span>
</div>